openmim
# mim install mmcv==2.0.1
diffusers
transformers
accelerate
opencv-python
scikit-image
lpips
huggingface_hub

# uv pip install mmcv==2.2.0 -f https://download.openmmlab.com/mmcv/dist/cu121/torch2.3/index.html
# uv pip install torch==2.3.1 torchvision==0.18.1 torchaudio==2.3.1 --index-url https://download.pytorch.org/whl/cu121

